doctype 5
html(lang="pt-br")
    head
        style(type='text/css').
           div {
            width:500px;display:flex;justify-content: center;flex-direction: column;text-align:justify
           }
           h1 {
                width:300px;text-align: center;color: rgb(147, 141, 141);padding: 20px;background: rgba(64, 163, 244, 0.434)
            }
    body
        div
            h2 Olá #{nome},
            h3 esta é sua senha para realizar seu login no sistema:
            h1 #{password}